.logoheader {
  width: 15% !important;
}
.nav {
    list-style: none;
    display: flex;
    padding: 0;
}
.nav-link {
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 6px;
    color: #333 !important;
    transition: all 0.3s ease;
    position: relative;
}
.nav-link:hover {
    color: var(--Franq-color) !important;
}
.nav-link.active {
    color: var(--Franq-color) !important;
}
.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: var(--Franq-color);
    transition: width 0.3s ease;
}
.nav-link:hover::after,
.nav-link.active::after {
    width: 100%;
}
input {
    border-radius: 20px;
    padding: .4rem .8rem;
    border: 1px solid #333;
}