.hero-section {
  background: linear-gradient(90deg, #0d6efd , #333 );
}
.bancologo {
  width: 14%;
}
.bancologo2 {
  width: 9%;
}

.btn-primary {
  background-color: #2e63f7;
  border: none;
}

.btn-primary:hover {
  background-color: #234fc4;
}


