.hero-section {
  background: linear-gradient(90deg, #0d6efd , #333 );
}
.bancologo {
  width: 14%;
}
.bancologo2 {
  width: 9%;
}
.btn-primary {
  background-color: #2e63f7;
  border: none;
}

.btn-primary:hover {
  background-color: #234fc4;
}
.elementor-background-video-hosted {
  width: 853.333px; 
  height: 480px;
}
#Mobileimg {
  display: none;
}
@media only screen and (max-width: 600px) {
  #desktopimg {
    display: none;
  }
  .pmobile {
    font-size: .8rem; 
    padding: 0rem 1rem;
  }
  #Mobileimg {
  display: block;
}
  #Mobile {
    flex-direction: column;
  }
  #Mobile2 {
    flex-direction: column-reverse;
  }
  #imgmobile {
    width: 50% !important;
  }
  #text-center {
    text-align: center !important;
  }
  .elementor-background-video-hosted {
  width: 90%; 
  height: 480px;
}
}